# Deafío ML Strategy 

- UTN FRBA
- Ciencia de Datos 
- Germán De Luca

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Image

In [2]:
from sklearn import preprocessing #de aca saco el scaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.svm import LinearSVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

from sklearn.model_selection import GridSearchCV

In [3]:
ls

Desafío ML strategy 15-10.ipynb    Xy_train.csv
X_test.csv                         desafio_ML_ger.ipynb

In [4]:
train = pd.read_csv('Xy_train.csv', delimiter = ',', parse_dates = True)
test = pd.read_csv('X_test.csv', delimiter = ',', parse_dates = True)

In [5]:
train.head(3)

          X         y
0  2.273360  6.054685
1  3.167583  4.581428
2  7.973655  5.392507

In [6]:
np.shape(train)

(100, 2)

In [7]:
test.head(20)

           X
0   6.170800
1   6.302022
2   8.689293
3   2.376897
4   2.707320
5   6.555949
6   8.492565
7   0.111064
8   9.121449
9   2.675377
10  3.242831
11  6.416299
12  9.158768
13  0.659650
14  4.682379
15  8.109528
16  4.961968
17  6.013856
18  7.149417
19  6.279854

In [8]:
np.shape(test)

(20, 1)

In [9]:
train.isnull().sum()

X    0
y    0
dtype: int64

In [10]:
test.isnull().sum()

X    0
dtype: int64

### Separo mi dataset en x e y

In [11]:
x = pd.DataFrame(train['X'])
x

           X
0   2.273360
1   3.167583
2   7.973655
3   6.762547
4   3.911096
..       ...
95  3.787495
96  2.759471
97  9.661041
98  0.582026
99  4.087339

[100 rows x 1 columns]

In [12]:
y = pd.DataFrame(train['y'])
y

            y
0    6.054685
1    4.581428
2    5.392507
3    3.108068
4    4.225744
..        ...
95   5.133706
96   4.308327
97  11.923565
98   1.335725
99   5.641851

[100 rows x 1 columns]

### Separo los datasets x e y en train y test
Voy a subdividir x e y para mi modelo de aprendizaje

In [188]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=5)

In [189]:
xtrain.shape

(80, 1)

In [190]:
xtest.shape

(20, 1)

In [191]:
#auto - scaling
scaler = preprocessing.StandardScaler().fit(xtrain)
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [192]:
xtrain_scal = scaler.transform(xtrain)  
xtest_scal = scaler.transform(xtest)

## Linear Regression

In [193]:
lr = LinearRegression()

In [194]:
lr.fit(xtrain_scal, ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [195]:
ypred = lr.predict(xtest_scal)

In [196]:
ypred.shape

(20, 1)

In [197]:
lr_sqrt = np.sqrt(mean_squared_error(ytest, ypred))
lr_sqrt

2.0051416760765366

In [198]:
lr_mse = mean_squared_error(ytest, ypred)
lr_mse

4.020593141139022

In [199]:
from sklearn.metrics import mean_absolute_error
lr_mae = mean_absolute_error(ytest, ypred)
lr_mae

1.49894668001098

In [200]:
print ("MSE: " +str(lr_mse)+"\nMAE: "+str(lr_mae))

MSE: 4.020593141139022
MAE: 1.49894668001098

## KNN

In [201]:
from sklearn.neighbors import KNeighborsRegressor as KN

In [202]:
knn = KN()

In [203]:
knn.fit(xtrain_scal, ytrain)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [204]:
ypred_knn = knn.predict(xtest_scal)

In [205]:
ypred_knn.shape

(20, 1)

In [206]:
knn_r2 = r2_score(ytest, ypred_knn)
knn_mse = mean_squared_error(ytest, ypred_knn)
knn_mae = mean_absolute_error(ytest, ypred_knn)
print ("R2 score: " +str(knn_r2)+ "\nMSE: " +str(knn_mse)+"\nMAE: "+str(knn_mae))

R2 score: 0.8653574700965577
MSE: 0.9348067308540621
MAE: 0.8216724258746126

## SVR

In [207]:
svr = SVR()

In [208]:
svr.fit(xtrain_scal, ytrain)

/Users/germandeluca/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [209]:
ypred_svr = svr.predict(xtest_scal)

In [210]:
ypred_svr.shape

(20,)

In [211]:
svr_r2 = r2_score(ytest, ypred_svr)
svr_mse = mean_squared_error(ytest, ypred_svr)
svr_mae = mean_absolute_error(ytest, ypred_svr)
print ("R2 score: " +str(svr_r2)+ "\nMSE: " +str(svr_mse)+"\nMAE: "+str(svr_mae))

R2 score: 0.7171701660262111
MSE: 1.9636531835419366
MAE: 1.0772363602152777

## Voy a usar SVR para predecir las labels del dataset "test"

In [212]:
test_scal = scaler.transform(test)

In [213]:
test_scal.shape

(20, 1)

In [214]:
predtest = svr.predict(test_scal)

In [217]:
predtest.round(2)

array([3.25, 3.3 , 7.45, 4.96, 5.15, 3.47, 7.06, 1.98, 8.14, 5.14, 5.16,
       3.36, 8.19, 2.58, 4.03, 6.23, 3.76, 3.23, 4.23, 3.29])

In [218]:
#prueba con knn

predtest2 = knn.predict(test_scal)
predtest2.round(2)

array([[3.64],
       [3.14],
       [7.56],
       [5.62],
       [4.89],
       [3.45],
       [7.18],
       [1.37],
       [9.97],
       [4.88],
       [4.67],
       [3.21],
       [9.97],
       [2.28],
       [4.  ],
       [6.26],
       [3.99],
       [3.57],
       [4.15],
       [3.14]])